<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off">

  <variable name="appname" value="FORM2"/>

  <targets>
    <target name="default"
            xsi:type="File"
            fileName="${basedir}/log/${appname}.log"
            keepFileOpen="false"
            layout="${longdate} ${uppercase:${level}} ${callsite:className=true:fileName=true:linenumber=true:includeSourcePath=false:methodName=false} ${callsite:className=false:includeNamespace=false:includeSourcePath=false:methodName=true}() ${message}"
            archiveAboveSize="20971520"
            maxArchiveFiles="5"
            archiveNumbering="Rolling"
            enableArchiveFileCompression="true"
            encoding="utf-8">
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="default" />
  </rules>

</nlog>
